@using Makale_Entity

@model Note


           
<div class="media">
    <div class="media-left">
        <span class="glyphicon glyphicon glyphicon-comment"></span>
    </div>
    <div class="media-body">

        <div>
            <span >@Model.Text</span> 

        </div>
        ...
    </div>
</div>
    