@using MakaleWeb.Models      
@using Makale_Entity
@{ 
    
    List<Kategori> kategoriler= CacheHelper.kategoriler();
}
            <p class="lead">Kategoriler</p>
            <div class="list-group">
                <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
                @foreach (Kategori item in kategoriler)
                {
                    <a href="/home/Kategori/@item.ID" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@item.Baslik</a>
                }
            </div>
