<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4">
                <h5><b>Site Haritası</b></h5><hr />
                <ul>
                    <li>
                        <a href="#">Hakkımızda</a>
                    </li>
                    <li><a href="#">En Beğenilenler</a></li>
                    <li><a href="#">Son Yazılanlar</a></li>
                </ul>

            </div>
            <div class="col-lg-4">
                <h5><b>Makale Web Projesi</b></h5>
                <hr />
                <p>@DateTime.Now.Year<br />Tüm Hakları Saklıdır &copy;</p>
            </div>
            <div class="col-lg-4 text-center">
                @*text center ile ortada yazdırıcaz*@
                <h5><b>E-Bülten Üyeliği</b></h5>
                <hr />
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Gönder</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

            </div>
        </div>
    </footer>

</div>
