
@{
    ViewBag.Title = "about";
}

<h2>about</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialPageKategoriler")
        </div>
        <div class="col-md-9">
            <div>
                <h2 class="text-center">
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                </h2>
                <hr />
                <b>
                    Elit fusce vel sapien elit in malesuada.
                </b>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>

        </div>
        </div>

    </div>