@model Kullanici
@{
    ViewBag.Title = "profiliniz";
}


<div class="container" style="margin-bottom:300px">
    <div class="row text-center">
        <h2>PROFİLİNİZ</h2>
        <br />
        <hr />
    </div>
    @Html.ValidationSummary(false)
    <div class="row" style="margin:auto">
        <div class="col-md-4">
            <img src="~/image/@Model.profilresim" class="img-circle" width="100" height="100" />
        </div>
        <div class="col-md-4" style="margin-left:auto">
            <b>@(Model.Ad+" "+Model.Soyad)</b>
            <br />
            <b><b>Kullanıcı Adı</b> @Model.KullaniciAd</b>
            <br />
            <b><b>Email</b> @Model.Email</b>
        </div>
        <div class="col-md-4">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/home/profildegistir"><i class="fa-regular fa-pen-to-square"></i>düzenle</a>
                    <a class="dropdown-item" href="/home/profilsil" onclick="return"><i class="fa-regular fa-user-slash"></i>sil</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
  
</script>

