
@{
    ViewBag.Title = "useractivate";
}

<h2>useractivate</h2>

<div class="text-success">
    <p>
        hesabınız aktifleştirildi
    </p>
</div>

<script>
    $(function () {
        setTimeout(function () { window.location = "/home/Index" }, 3000);
    });
</script>

